body{
  margin: 0;
  font-family: mulish;
  max-width: 100%;
}
ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  line-height: 23px;
  margin-top: 20px;
}
.nav ul{
  display: flex;
}
.nav a{
  padding: 20px;

}
.first_section{
  display: flex;
  align-items: center;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 30px;
  justify-content: space-around;
}
.text h1{
  font-size: 48px;
  line-height: 56px;
}
.text p{
  font-size: 21px;
  line-height: 32px;
  color: #7d7987;
}
button{
  background-color: #458ff6;
  color: #ffff;
  border-radius: 55px;    
  width: 200px;
  height: 56px;
  font-size: 18px;
  border-color: white;
  font-weight: bold;
}
.heanding{
  font-weight: bold;
  font-size: 36px;
  line-height: 56px;
}
.click{
  color: #458ff6;
  background-color: #ffff;
  border-radius: 55px;
  font-size: 18px;
  font-weight: bold;
  border-color: #458ff6;
}
.second_section{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;

}
.info{
  display: flex;

}
.info div{
  margin: 15px 20px;
  background: #FFFFFF;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
}
.third_section{
  display: flex;
  margin: 70px;
}
.fourth_section{
  display: flex;
  margin: 60px;
}
.fifth_section{
  margin: 100px;
  background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
  border-radius: 24px;
}
.person{
  display: flex;
}
.sixth_section{
  display: flex;
  margin: 60px;
  justify-content: center;
}
.article-preview{
  background: #fff;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
}
.footer{
  display: flex;
}
.contact{
  display: flex;
}
